@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

/* navbar class styles */
.navbar{
    background-color: darkcyan;
    border-radius: 5px;
}


#nav a{
    color: white;
    margin: 5px;
}

#nav a:hover{
    color:yellow;
    transition: 0.2s;
}

.banner{
    display: flex;
    flex: justify;
}
.banner img{
    width: 95%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 5px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.banner img:hover{
    z-index: 2;
    width: 100%;
    filter:grayscale(50%);
    border-radius: 5px;
    transition: 250ms;
}

.main-cont{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    font-weight: light;
}